- set_fact:
    VagrantFileDir: "/home/{{ REMOTE_USER }}/vagrant/config.yaml"

- name: Copy Vagrant File to Boxes
  copy:
    src: "{{ playbook_dir}}/Vagrantfile"
    dest: "/home/{{ REMOTE_USER }}/vagrant/Vagrantfile"
    owner: "{{ REMOTE_USER }}"
    group: "{{ REMOTE_USER }}"
    mode: '0644'

- name: Test Vagrant up command
  vagrant: 
    command: up
    path: "{{ VagrantFileDir }}"
  become: yes
  become_user: "{{ REMOTE_USER }}"
  delegate_to: localhost 

- name: Test Vagrant up command
  vagrant: 
    command: status
    path: "{{ VagrantFileDir }}"
  become: yes
  become_user: "{{ REMOTE_USER }}"
  delegate_to: localhost 
  register: vagrant_status

- name: debug vagrant status
  debug:
    var: vagrant_status
    verbosity: 2

