- name: Copy Vagrant File to Boxes
  copy:
    src: "{{ playbook_dir}}/Vagrantfile"
    dest: "/home/{{ REMOTE_USER }}/vagrant/Vagrantfile"
    owner: "{{ REMOTE_USER }}"
    group: "{{ REMOTE_USER }}"
    mode: '0644'

- name: Test Vagrant up command
  shell: | 
    export VAGRANT_LOG=info
    vagrant up
  args:
    chdir: "/home/{{REMOTE_USER}}/vagrant"
  become: yes
  become_user: "{{ REMOTE_USER }}"


