- name: Copy Vagrant File to Boxes
  copy:
    src: "{{ playbook_dir}}/Vagrantfile"
    dest: "/home/{{ REMOTE_USER }}/vagrant/Vagrantfile"
    owner: "{{ REMOTE_USER }}"
    group: "{{ REMOTE_USER }}"
    mode: '0644'

- name: Install Vagrant Camera plugin
  command: vagrant plugin install vagrant-camera
  become: yes
  become_user: "{{ REMOTE_USER }}"

- name: Test Vagrant up command
  shell: | 
    export VAGRANT_LOG=info
    vagrant up
  args:
    chdir: "/home/{{REMOTE_USER}}/vagrant"
  become: yes
  become_user: "{{ REMOTE_USER }}"

- name: Check if screenshots dir exists
  stat: 
    path: "/home/{{ REMOTE_USER }}/screenshots"
  register: screenshot_dir_check

- name: Create Screenshot dir
  file: 
    path: /home/{{REMOTE_USER}}/screenshots
    state: directory 
  become: yes
  become_user: "{{ REMOTE_USER }}"
  when: screenshot_dir_check.stat.exists =! True

- name: Test Screenshot
  command: "vagrant camera {{ VM_SELECTION }}-Dev-Test-VM --save /home/{{ REMOTE_USER }}/screenshots/


### insert vagrant halt/repackage/destroy and custom provision tasks [todo]
### work out the custom module [todo]
