- set_fact:
    VagrantFileDir: "/home/{{ REMOTE_USER }}/vagrant"

- name: Copy Vagrant File to Boxes
  copy:
    src: "{{ playbook_dir}}/Vagrantfile"
    dest: "/home/{{ REMOTE_USER }}/vagrant/Vagrantfile"
    owner: "{{ REMOTE_USER }}"
    group: "{{ REMOTE_USER }}"
    mode: '0644'

- name: Test Vagrant up command
  vagrant: 
    command: up
    path: "{{ VagrantFileDir }}"
  become: yes
  become_user: "{{ REMOTE_USER }}"
  become_method: su

- name: Test Vagrant status command
  vagrant: 
    command: status
    path: "{{ VagrantFileDir }}"
  register: vagrant_status
  become: yes
  become_user: "{{ REMOTE_USER }}"
  become_method: su

- name: debug vagrant status
  debug:
    var: vagrant_status

- name: Test Vagrant up command
  vagrant: 
    command: up
    path: "{{ VagrantFileDir }}"
    provision: true
  become: yes
  become_user: "{{ REMOTE_USER }}"
  become_method: su

- name: Test Vagrant up command
  vagrant: 
    command: destroy
    path: "{{ VagrantFileDir }}"
  become: yes
  become_user: "{{ REMOTE_USER }}"
  become_method: su


